<footer class="site-footer">
  <div class="container footer-row">
    <div>
      <div class="brand-name">PRO AnalytiX Lab</div>
      <p>(04763) 서울시 성동구 왕십리로 222 한양대학교 사범대학 504호<br>
      #504, College of Education, Hanyang University, 222 Wangsimni-ro, Seongdong-gu, Seoul</p>
    </div>
    <ul class="footer-links">
      <li><a href="http://www.grad.hanyang.ac.kr/">한양대학교 대학원</a></li>
      <li><a href="https://education.hanyang.ac.kr/front/graduate/engineering/dean">교육공학과 대학원</a></li>
      <li><a href="https://education.hanyang.ac.kr/front/undergraduate/engineering/dean">교육공학과 학부</a></li>
      <li><a href="{{ '/feed.xml' | relative_url }}">RSS</a></li>
    </ul>
  </div>
  <div class="container copyright">© 2008 PRO AnalytiX Lab</div>
</footer>
